 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
  }


  .data_box{ 
     height: 55px;
     display: flex;
     align-items: center;
     justify-content: start;

  }
  .delete_bu{
     position: absolute;
     right: 17px;
     color: white;
  }
  .delete_bu:hover{
    color: red;
  }